# Imports

In [7]:
import pandas as pd
import os

# Variables

In [28]:
footballdata_wIndexes_path = os.path.abspath(os.getcwd())+"\\Java\\football-data_wIndexes.csv"
idx_mappings_dir = os.path.abspath(os.getcwd())+"\\Data\\footballAPI_idx_mappings\\englishpremierleague.csv"

# Load Football-Data File with Indexes

In [29]:
footballdata_wIndexes = pd.read_csv(footballdata_wIndexes_path, delimiter=";")
footballdata_wIndexes

,Date,HomeTeamid,HomeTeamName,AwayTeamId,AwayTeamName,HomeGoals,AwayGoals,FullTimeResult,AverageHomeWinOdd,AverageDrawWinOdd,AverageAwayWinOdd,AvgOver2_5,AvgUnder2_5,Div,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,14/08/2010,495,Aston Villa,598,West Ham,3,0,H,2.00,3.30,4.00,2.01,1.75,E0,NaN,NaN,NaN,NaN
1,14/08/2010,500,Blackburn,8560,Everton,1,0,H,2.88,3.25,2.50,2.08,1.70,E0,NaN,NaN,NaN,NaN
2,14/08/2010,502,Bolton,535,Fulham,0,0,D,2.20,3.30,3.40,2.09,1.69,E0,NaN,NaN,NaN,NaN
3,14/08/2010,519,Chelsea,597,West Brom,6,0,H,1.17,7.00,17.00,1.49,2.49,E0,NaN,NaN,NaN,NaN
4,14/08/2010,589,Sunderland,12596,Birmingham,2,2,D,2.10,3.30,3.60,2.16,1.65,E0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4533,11/05/2022,546,Leeds,519,Chelsea,0,3,A,4.98,4.17,1.67,1.64,2.28,E0,NaN,NaN,NaN,NaN
4534,11/05/2022,547,Leicester,565,Norwich,3,0,H,1.44,4.90,7.02,1.61,2.34,E0,NaN,NaN,NaN,NaN
4535,11/05/2022,596,Watford,8560,Everton,0,0,D,4.26,3.68,1.87,1.91,1.92,E0,NaN,NaN,NaN,NaN
4536,11/05/2022,600,Wolves,555,Man City,1,5,A,12.83,5.88,1.26,1.66,2.24,E0,NaN,NaN,NaN,NaN
4537,12/05/2022,593,Tottenham,494,Arsenal,3,0,H,2.12,3.60,3.42,1.78,2.05,E0,NaN,NaN,NaN,NaN

In [30]:
footballdata_wIndexes.count()

Date                 4538
HomeTeamid           4538
HomeTeamName         4538
AwayTeamId           4538
AwayTeamName         4538
HomeGoals            4538
AwayGoals            4538
FullTimeResult       4538
AverageHomeWinOdd    4538
AverageDrawWinOdd    4538
AverageAwayWinOdd    4538
AvgOver2_5           4538
AvgUnder2_5          4538
Div                  4538
Unnamed: 14             0
Unnamed: 15             0
Unnamed: 16             0
Unnamed: 17             0
dtype: int64

## Store Index Mapping

In [33]:
idxs = footballdata_wIndexes[['HomeTeamName','HomeTeamid','Div']].drop_duplicates().set_index('HomeTeamName')\
    .sort_values('HomeTeamName')
idxs

                  HomeTeamid Div
HomeTeamName
Arsenal                  494  E0
Aston Villa              495  E0
Birmingham             12596  E0
Blackburn                500  E0
Blackpool                501  E0
Bolton                   502  E0
Bournemouth              504  E0
Brentford              10503  E0
Brighton                 508  E0
Burnley                  512  E0
Cardiff                  516  E0
Chelsea                  519  E0
Crystal Palace           525  E0
Everton                 8560  E0
Fulham                   535  E0
Huddersfield             543  E0
Hull                   12051  E0
Leeds                    546  E0
Leicester                547  E0
Liverpool                550  E0
Man City                 555  E0
Man United               556  E0
Middlesbrough            558  E0
Newcastle                562  E0
Norwich                  565  E0
QPR                    18619  E0
Reading                12052  E0
Sheffield United         581  E0
Southampton              585  E0
Stoke                    588  E0
Sunderland               589  E0
Swansea                12273  E0
Tottenham                593  E0
Watford                  596  E0
West Brom                597  E0
West Ham                 598  E0
Wigan                    599  E0
Wolves                   600  E0

In [34]:
idxs.to_csv(idx_mappings_dir)

# Call API to get match Stats

In [ ]:
def add_stats(row):
    
    home_stats = call_java_api(row('Date'), row('HomeTeamid'))
    away_stats = call_java_api(row('Date'), row('AwayTeamid'))
    
    return home_stats, away_stats

In [ ]:
df_home_stats, df_away_stats = footballdata_wIndexes.apply(lambda row: add_stats(row), axis=1)
df_home_stats = df_home_stats.apply(json.load).apply(pd.Series)
df_away_stats = df_away_stats.apply(json.load).apply(pd.Series)
df_home_stats